
.bg_cover{
    margin-top: -2vw;
    background-image: url('images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 265vh;
}
h1 {
    padding-top: 7rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: "Black Ops One", system-ui;
    color: #38220f;
    text-decoration: underline;
}

/* Define the grid layout */
.product-grid {
    margin: 14px 14px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Change this to repeat(4, 1fr) for 4 cards per row */
    gap: 20px;

}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 cards per row for wider screens */
    }
}

@media (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr); /* 3 cards per row for medium screens */
    }
}

.product-card {
    justify-content: center;
    background-image: url('images/IMG_3700.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #644839;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.product-card strong {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #38220f;
    font-size: 17px;
    padding-bottom: 2rem;
}

.product-details {
    color: #000;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    display: none;
}

.product-price {
    color: #38220f;
    font-weight: 900;
    font-size: 20px;
}

.product-card img {
    width: 80%; /* Ensure the image fits the container width */
    height: 200px; /* Fixed height for all images */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
    border-radius: 10px; /* Optional: add border radius to match card style */
}

.buttons {
    margin-top: 10px;
}

.view-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #644839; /* Change as needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.view-icon {
    margin-right: 8px; /* Space between icon and text */
    font-size: 16px; /* Adjust as needed */
}